<div class="download-table">
  <div class="options-menu">
    {{!-- checkbox --}}
    <span>Selected {{!-- count --}}</span>
    <span>{{!-- icon --}} Download Selected</span>
  </div>
  <table>
    <thead>
      <tr>
        <th class="lean-cell">x</th>
        <th>Name</th>
        <th>Device</th>
        <th class="wide-cell">Path</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{!-- #each --}}
        <tr>
          <td class="lean-cell"></td>
          <td></td>
          <td></td>
          <td class="wide-cell"></td>
          <td></td>
        </tr>
      {{!-- /each --}}
    </tbody>
  </table>
</div>
